@use "./responsive" as *;

/*
******************************************
VARIABLES
******************************************
*/
:root {
  --main-font-color: #99ffbb;
}

/*
******************************************
GENERAL
******************************************
*/
* {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  margin: 0;
}

/*
******************************************
NAV
******************************************
*/