@use "./responsive" as *;

/*
******************************************
VARIABLES
******************************************
*/
:root {
  --main-color: #ffffff;
  --main-font-color: #99ffbb;
}

/*
******************************************
GENERAL
******************************************
*/
* {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  margin: 0;
  background-image: url("../public/assets/images/bg-one-shop.png");
  background-size: cover;
}

/*
******************************************
CONTAINERS
******************************************
*/
.text-container {
  background-color: var(--main-color);
  display: inline-block;
  padding: 0.5rem 2rem;
}

.text-container-blur {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.blur-panel {
  width: 50%;
  padding: 3rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/*
******************************************
HOME
******************************************
*/
.main-image-shoes {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  @include xs {
    object-fit: contain !important;
  }
  @include sm {
    object-fit: contain !important;
  }
}
